/*-------------------------------------------
aboutページ / about.html
-------------------------------------------*/
@use 'setting' as s;
/* ここから記述します。 */

.about-inner{
    display: flex;
color: #fff;
    gap: 48px;
    margin-bottom: 120px;
    @media screen and (max-width:900px){
        flex-direction: column;
       
    }
}
.about-inner img{
    width: 50%;
    @media screen and (max-width:900px){
        width: 100%;
    }
}
.about-text{
  padding: 158px 0;
  @media screen and (max-width:900px){
        padding: 0;
  }
}
.about-title{
    font-size: 28px;
    margin-bottom: 24px;
}
.about-inner p{
    font-size: 16px;
    margin-bottom: 32px;
}