@charset "UTF-8";
/*-------------------------------------------
共通クラス
-------------------------------------------*/
body {
  font-family: "Hiragino Mincho Pro", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a:hover {
  opacity: 0.85;
  transition: 0.3s;
}

.body {
  background: #353535;
}

.main {
  position: relative;
}

/*-------------------------------------------
共通パーツの指定
-------------------------------------------*/
.u-wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 900px) {
  .u-wrapper {
    padding: 0px 15px;
  }
}

/* ここから記述します。 */
.section-title {
  color: #fff;
  font-size: 32px;
  position: relative;
  margin-bottom: 32px;
}
@media screen and (max-width: 500px) {
  .section-title {
    font-size: 25px;
  }
}

.section-title span {
  display: block;
  position: absolute;
  top: 20px;
  width: 40px;
  background-color: #fff;
  height: 1px;
}

/*-------------------------------------------
TOP gridレイアウト
-------------------------------------------*/
/* ここから記述します。 */
html {
  background-color: #353535;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  position: relative;
}

#navi {
  display: none;
  background-color: #fff;
  padding: 60px 25px;
  z-index: 20;
}

.nav-list li {
  margin-bottom: 20px;
}

#navi img {
  width: 160px;
  margin-bottom: 24px;
}

.mask {
  background-color: #000;
  display: none;
}

.toggle-btn {
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 20;
  transition-duration: 3s;
}

.header-logo {
  width: 160px;
  height: 21px;
}

.toggle-btn span {
  width: 30px;
  height: 1px;
  position: absolute;
  background: #fff;
}

.toggle-btn:hover {
  opacity: 0.5;
}

.toggle-btn span:first-of-type {
  top: 0;
}

.toggle-btn span:nth-child(2) {
  top: 10px;
}

.toggle-btn span:nth-child(3) {
  top: 20px;
}

.open .mask {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.8;
  top: 0;
  left: 0;
}

.open #navi {
  height: 100%;
  width: 300px;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}

.open .toggle-btn span:first-of-type {
  transform: rotate(135deg);
  top: 20px;
}

.open .toggle-btn span:nth-child(2) {
  display: none;
}

.open .toggle-btn span:nth-child(3) {
  transform: rotate(-135deg);
}

main {
  padding: 20px;
}

.main-inner {
  display: flex;
  flex: 1;
}

.main-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  grid-template-areas: "A B C D" "A E F G";
}
@media screen and (max-width: 900px) {
  .main-inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: " A A" "B C" "D E" "F G";
    gap: 28px 8px;
  }
}

.item-list {
  color: #fff;
}

.item-list:nth-child(1) {
  grid-area: A;
}

.item-list img:nth-child(1) {
  height: calc(100% - 50.78px);
}

.item-list:nth-child(2) {
  grid-area: B;
}

.item-list:nth-child(3) {
  grid-area: C;
}

.item-list:nth-child(4) {
  grid-area: D;
}

.item-list:nth-child(5) {
  grid-area: E;
}

.item-list:nth-child(6) {
  grid-area: F;
}

.item-list:nth-child(7) {
  grid-area: G;
}

.btn {
  color: #fff;
  border: 1px solid #fff;
  width: 240px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 80px;
}

.btn a {
  display: inline-block;
  padding: 12px 0;
}

.btn:hover {
  opacity: 0.5;
}

footer {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 900px) {
  footer {
    flex-direction: column;
    padding: 48px 55px;
  }
}

.footer-logo {
  width: 160px;
  height: 21px;
  margin-top: 40px;
  margin-bottom: 24px;
}

.footer-list {
  margin-bottom: 40px;
  display: flex;
  gap: 28px;
  font-size: 16px;
}
@media screen and (max-width: 900px) {
  .footer-list {
    flex-direction: column;
    text-align: center;
  }
}

.copy-right {
  font-size: 14px;
}
@media screen and (max-width: 500px) {
  .copy-right {
    font-size: 10px;
  }
}

/*-------------------------------------------
aboutページ / about.html
-------------------------------------------*/
/* ここから記述します。 */
.about-inner {
  display: flex;
  color: #fff;
  gap: 48px;
  margin-bottom: 120px;
}
@media screen and (max-width: 900px) {
  .about-inner {
    flex-direction: column;
  }
}

.about-inner img {
  width: 50%;
}
@media screen and (max-width: 900px) {
  .about-inner img {
    width: 100%;
  }
}

.about-text {
  padding: 158px 0;
}
@media screen and (max-width: 900px) {
  .about-text {
    padding: 0;
  }
}

.about-title {
  font-size: 28px;
  margin-bottom: 24px;
}

.about-inner p {
  font-size: 16px;
  margin-bottom: 32px;
}

/*-------------------------------------------
companyページ / company.html
-------------------------------------------*/
/* ここから記述します。 */
.company-inner {
  display: flex;
  gap: 48px;
  margin-bottom: 120px;
}
@media screen and (max-width: 900px) {
  .company-inner {
    flex-direction: column;
  }
}

.map {
  width: 50%;
}
@media screen and (max-width: 900px) {
  .map {
    width: 100%;
  }
}

.company-iframe {
  width: 100%;
  height: 100%;
}

.company-list {
  width: 45%;
}
@media screen and (max-width: 900px) {
  .company-list {
    width: 100%;
  }
}

.company-item {
  font-size: 16px;
  color: #fff;
  display: flex;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}

.company-list dt {
  width: 30%;
  font-weight: normal;
}

/*-------------------------------------------
itemページ / item*.html
-------------------------------------------*/
/* ここから記述します。 */
.item {
  display: flex;
  gap: 48px;
  margin-bottom: 120px;
  justify-content: center;
  align-items: center;
}

.item-contents {
  color: #fff;
  padding: 68px 0;
}

.items-title {
  font-size: 36px;
  margin-bottom: 24px;
}

.price {
  font-size: 24px;
  margin-bottom: 32px;
}

.small-text {
  font-size: 15px;
}

.item-contents p {
  margin-bottom: 16px;
}

.item-btn {
  background-color: #BA0808;
  color: #fff;
  width: 240px;
  height: 50px;
  margin-bottom: 48px;
  text-align: center;
  padding: 17px 19px;
}

.item-number {
  width: 160px;
  height: 40px;
  background: #fff;
  margin-bottom: 10px;
}

/*-------------------------------------------
productsページ / products.html
-------------------------------------------*/
/* ここから記述します。 */
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  color: #fff;
  margin-bottom: 120px;
}
@media screen and (max-width: 900px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 8px;
  }
}

.popular-list {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
  margin-bottom: 120px;
}
@media screen and (max-width: 900px) {
  .popular-list {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=style.css.map */